.file-node {
    color: rgb(55, 53, 53);
    cursor: pointer;
    display: flex;
    font-weight: 400;
    flex-direction: column; 
    left: 25px;
    padding-left: 15px;
    position: relative;
}

.file-node__title {
    display: inline-block;
}

.is-active {
    font-weight: 600;
}
